/*=========     Mise en page commune du header    ======.*/

.logoPrincipal {
	display: flex;
	flex-direction: row;
	transition: all 0.2s;
}

.logoPrincipal>h1>a {
	display: flex;
	font-family: Proza Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	font-family: Verdana;
	width: 660px;
	text-align: center;
	font-weight: bold;
}

.fondGris{
    z-index:-2;
    height:100vh;
    width:100vw;
    background-color:rgb(248, 248, 243);
    position:fixed;
    bottom:0;
}

nav#menu>ul>li {
	margin: auto;
}

nav#menu>ul>li>a{
	padding:0;
}
header {
	background-color: rgb(248, 248, 243);
}

footer {
	background-color: rgb(248, 248, 243);
	border-top: solid gray 1px;
        position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}
@media only screen and (max-width: 540px) {
    nav#menu ul{
        width:100%;
        
    }
}
@media only screen and (max-width: 800px) {
	.logoPrincipal img {
		position: absolute;
		width: 70px;
		height: 70px;
		margin-top: 78px;
	}

	.logoPrincipal h1 {
		text-align: center;
	}

	.logoPrincipal h1 a {
		width: 100%;
	}
}

@media only screen and (max-width: 660px) {
	.logoPrincipal img {
		margin-top: 5px;
		margin-left: 5px;
	}
}




.logo {
	width: 100px;
	height: 100px;
	margin: 10px;
	display: flex;
	flex-direction: row;

}


body {
	font-family: Open Sans;
	background-image: radial-gradient(closest-side ellipse at center, white, rgb(248, 248, 243));
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100%;
	margin: 0;
	margin-bottom: 5%;
}

.pasImage {
	background-image: none;
}

.bigTitle {
	display: flex;
	font-family: Proza Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	font-family: Verdana;
}

.littleTitle {
	display: flex;
	font-family: Proza Libre;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	font-family: Verdana;
	margin: 50px 0 0 10px;
}

a {

	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: large;
	transition: color 0.2s, background-color 0.2s;
}

h4 {

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: large;
}

h5 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: small;

}


nav a:hover {
	color: #3A79FF;
	border-bottom: 3px solid #3A79FF;
}

nav#menu {
	padding: 5px;
}

nav#menu ul:first-child {
	float: left;
}

ul {
	list-style-type: none;
	/*float: right;*/
	line-height: 25px;
	overflow: hidden;
	margin: 10px 0;
	display: flex;
	width: 50%;
	padding: 0;
}

li {
	float: left;
	text-align: center;
	align-items: center;
	align-content: center;
}

li a {

	text-align: center;
	padding: 0px 10px;
}

.notConnectedNAV {
	width: 500px;
}

.connectedrightUL {
	width: 41%;
}

.connectedLeftUL {
	width: 59%;
}

.connectedNAV {
	width: 541px;
}

.instructorrightUL {
	width: 49%;
}

.instructorLeftUL {
	width: 51%;
}

.instructorNAV {
	width: 580px;
}

.adminrightUL {
	width: 49%;
}

.adminLeftUL {
	width: 51%;
}

.adminNAV {
	width: 800px;
}

@media only screen and (max-width: 1315px) {
	.logoPrincipal {
		margin: auto;
	}

	nav#menu{
            margin: auto;
            width: 100%;
        }
	.connectedrightUL {
		width: 50%;
	}

	.connectedLeftUL {
		width: 50%;
	}

	.adminrightUL {
		width: 50%;
	}

	.adminLeftUL {
		width: 50%;
	}
}
@media only screen and (max-width: 1620px) {
    .adminNAV{
        width: 39%;
    }
}
@media only screen and (max-width: 1400px) {
    .instructorNAV{
        width: 39%;
    }
}
@media only screen and (max-width: 1350px) {
    .connectedNAV{
        width: 39%;
    }
}



/* =================   Header non connecté  ============== */


.headerNonConnecte {

	display: flex;
	align-items: center;
	align-content: center;
	border-bottom: solid gray 1px;
	justify-content: space-between;
	flex-wrap: wrap;

}

.logoLangue .logo {
	display: inline;
	height: 20px;
	width: 32px;
	float: right;
	margin: 10px;
}

/* =================   Footer non connecté  ============== */



.footerNonConnecte {
	display: flex;
}

.allPage {
	height: 100vh;
	position: relative;
}

.footerBloque {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.menuBas {
	width: 70%;
}


@media only screen and (max-height: 700px) {
	.footerBloque {
		position: inherit;
		display: flex;
	}

	.allPage {
		height: auto;
	}
}

#footerButton {
	display: inline;
	float: right;
	position: absolute;
	right: 0;
	transform: translate(-14px, 0);
	top: 10px;
}

.logoApp {
	width: 100px;
	margin: 0 0 0 70%;
	display: inline;
	flex-direction: row;
}

div#footerButton>a {
	font-style: normal;
	text-align: center;
	right: 0px;
	padding: 5%;
	background-color: none;
	border: solid 1px #D2E1FF;
	text-decoration: none;
	color: #3A79FF;
}

div#footerButton>a:hover {
	background-color: #D2E1FF;
	border: solid 1px #D2E1FF;
	text-decoration: none;
	color: #3A79FF;
}

div.menuBas>a {
	margin: 0 20px;
	color: #666666;
	display: inline-block;
}

div.menuBas>a:hover {
	color: black;
}

div.menuBas>p {
	font-size: 10px;
	padding-left: 20px;
	color: #666666;
	margin-bottom:0;
}

div.menuBas>a#footerButton {
	margin: 0 20px 0 70%;
	padding: 0 10px 0 10px;
}

.photoAccueil {
	box-shadow: 0 0 6px 0 white;
	width: 49%;
	margin-bottom: 20px;
	/*margin:1% 1% 1% 50%;*/
}

.section1 {
	display: block;
	position: relative;
	margin: 100px 0;
}

.texteGauche {
	/*position:absolute;*/
	float: left;
	width: 50%;
	height: 80%;
	padding: 60px 0;
}

.boutonTest {
	width: 15em;
	font-size: 24px;
	background-color: rgba(41, 105, 151, 0.49);
	border: 0;
	font-weight: bold;
	font-family: Nunito Sans;
	text-align: center;
	/*padding: 2%;*/
	/*height: 4em;*/
	cursor: pointer;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2));
	border-radius: 3px;
	position: absolute;
	margin-left: 10%;
	transition: all 0.2s;
	border: 1px solid rgba(41, 105, 151, 0.49);
	padding: 0.8em 0 0.8em 0;
}

.boutonTest:hover {
	background-color: #e6e6e7;
	text-shadow: -0.5px -0.5px rgba(0, 0, 0, 0.2);
}



.texteGauche>h2 {
	text-align: center;
	font-size: 40px;
}

.texteGauche>form {
	padding: 0px 17%;
}

.section2 {
	margin: 100px 0;
	text-align: center;
	background-image: url("images/fondbleustyle.jpg");
	color: white;
	background-size: cover;
	padding: 3% 5%;
	background-color: black;
	background-position-x: 622px;
	margin-bottom: 0;
	box-shadow: 0px 0px 30px 0 #042c4f;
}

.section2>h2 {
	font-size: 3rem;
	margin-top: 25px;
	text-decoration: underline;
	margin-bottom: 60px;
}

@media only screen and (max-width:1400px) {
	.section2 {
		padding: 3% 3%;
	}
}

.ligneMenu {
	display: inline;
}

@media only screen and (max-width:1325px) {
	.ligneMenu {
		display: block;
		margin-bottom: 20px;
	}

	.partieMenu {
		margin: 0 60px;
		width: 35%;
	}
}

.section3 {
	padding: 175px 25% 175px 25%;
	/*background-image: url("images/fondgrisstyle.jpg");*/
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: cover;
	/*background-image : linear-gradient(rgba(0,0,0,0),white,white,white,white);
    background-size: 100% 100%;*/
	background-position-y: 100%;
	background-position-x: 0;
}

.section3>h2 {
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
	margin-bottom: 100px;

}

.sectionInformations {
	padding: 0;
}

.sectionInformations>div>div>h3 {
	margin-top: 0;
}

.ligneInformation {
	display: block;
	margin: 6% 0;
}

.info1 {
	float: left;
}

.info2 {
	margin-left: 70%;
}

.ligneInformation>div {
	width: 35%;

}

.menuInformations {
	padding-bottom: 2%;
}

.partieMenu {
	width: 20%;
	text-align: center;
	display: inline-grid;
	;
	background-image: radial-gradient(rgba(35, 144, 183, 0.3), rgba(35, 144, 183, 0.3), rgba(35, 144, 183, 0.3), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));

}

.partieMenu>img {
	margin: 0 auto 40px auto;
	box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.25);
}

.specialTest {
	z-index: -1;
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	background-position-y: 50%;
	background-image: url("images/fondgrisstyle.jpg");
	background-size: cover;
}

@media only screen and (max-width: 500px) {
	.section2 {
		margin-top: 25px;
	}
}

@media screen and (max-width: 1400px) {
	.boutonTest {
		position: inherit;
		display: block;
		margin: auto;
		margin-bottom: 25px;
	}

	.logoApp {
		display: block;
		margin: auto;
	}
}

@media only screen and (max-width:880px) {
	.partieMenu {
		display: block;
		width: 40%;
		margin: auto;
		margin-bottom: 55px;
	}

	.section2 {
		padding-bottom: 0;
	}

	.info1 {
		float: none;
		margin: auto;
	}

	.info2 {
		margin: auto;
	}

	.ligneInformation>div {
		width: 80%;
		margin-bottom: 80px;
	}
}

@media only screen and (max-width:550px) {
	.partieMenu {
		width: 70%;
	}
}

@media screen and (max-width: 1230px) {
	.photoAccueil {
		width: 60%;
		display: block;
		margin: auto;
	}

	.section1 {
		margin: 25px 0;
	}

	.texteGauche {
		width: 100%;
		padding: 0;
		float: none;
		display: block;
		margin: auto;
	}
}

@media screen and (max-width: 530px) {
	.texteGauche>form {
		padding: 0;
	}

	.boutonTest {
		width: 100%;
	}

	.photoAccueil {
		width: 100%;
		display: block;
		margin: auto;
	}
}

/*La gestion de taille d'écran est renseignée ici */

/*  ==============      A REVOIR (MEDIA QUERIES) =============== */

/* min-width pour moyennes résolutions */
@media screen and (min-width: 1024px) {
	#main {
		width: 70%;
		clear: none;
	}

	#aside {
		width: 30%;
		clear: none;
	}
}


/*Ici, les définitions propres à chaque page.*/
/* =============       Accueil     ============ */

.blocIntroAccueil {
	text-align: center;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	word-wrap: break-word;
	font-family: "Times New Roman", Times, serif;
}


.blocConnexionAPPAccueil {
	display: flex;
	flex-direction: row;
	margin: 10px;
	width: 130%;

}


.colonne1Accueil {
	flex: 1 1;
	margin-right: 0px;
	margin-left: 1%;
	width: 100%;
}


.colonne2Accueil {
	margin-left: 2%;
	width: 95%;
	margin-right: 0px;
	object-fit: cover;
}


.imageAccueil {
	max-width: 95%;
	width: auto;
	object-fit: cover;
}


.logoAPPAccueil {
	flex: 1 1;
	position: relative;
	right: 0;
}



.boutonConnexionAccueil {
	position: relative;
	left: 0px;
	width: auto;
	max-width: 50%;
	background-color: rgba(41, 105, 151, 0.49);
	font-style: normal;
	text-align: center;
	font-size: 22px;
	line-height: 28px;
}


.boutonConnexionAccueil:hover {
	position: relative;
	left: 0px;
	width: auto;
	max-width: 50%;
	background-color: rgba(41, 105, 151, 0.49);
	font-style: normal;
	text-align: center;
	font-size: 22px;
	line-height: 28px;
	color: #3A79FF;
}


.nosServicesAccueil {
	text-align: center;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
}


.actualitesAccueil {
	text-align: center;
	width: 80%;
	background-position: bottom right;
	background-size: 25%;
	margin-right: 15%;
	margin-left: 10%;
	justify-content: space-between;
	flex-wrap: wrap;
}






/*===========    Centrer les blocs ================*/

.centrer_bloc {
	margin: 3%;
}




/* =============       Page d'inscription ============ */

.inscriptionP1 {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}

.enteteInscription {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	/* Pour mettre inscription et connextion sur la même ligne*/
	text-align: center;
	padding: 2%;
	margin: 2%;
	background-color: #7CA0E4;
	display: inline-block;
	vertical-align: middle;
        border-bottom:3px solid #7CA0E4;
}


input[type=text],
input[type=password],
input[type=email] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 50%;
	margin: 1%;
	font-size: medium;
}

.enteteInscription:hover {
	border-bottom: 3px solid #3A79FF;
}



.inscriptionP1 fieldset {

	text-align: center;
	border: none;
}


/* =============       Page de connexion ============ */

.connexion {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}

.connexion a:hover {
	border-bottom: 3px solid #3A79FF;
	text-decoration: none;
}

input[type=password],
input[type=email] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 50%;
	margin: 5%;
}

#mdp {
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}



.connexion fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}




/* =============       Mot de passe oublié  ============ */

.motDePasseOublie {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}




.motDePasseOublie fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}



/* ==========  Page 404  ==========  */

.errror404 img {
	width: 500px;
	height: 300px;
}

.error404 {

	display: flex;
	flex-direction: column;
	align-items: center;
}





/* ==========  Page contact  et FAQ ==========  */



.formulaireContact {
	text-align: center;
}

.headerContact {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.headerContact h1 {
	font-size: 50px;
	border-bottom: 5px solid black;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}


/*Ici, la liste des input.*/


.formulaireContact {
	margin-left: 20%;
	margin-right: 20%;
}




.formulaireContact textarea {
	display: block;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* =============       Page de confirmation contact  ============ */

.confirmationContact {
	text-align: center;
	margin: 15%;
	font-size: 30px;
	border: 2px solid #000000;
	padding: 10%;
}

.confirmationContact a {
	margin: 15%;
	padding: 3%;
	font-size: 20px;
	border: 2px solid #000000;
	background-color: transparent;
}

.confirmationContact a:hover {
	margin: 15%;
	padding: 3%;
	font-size: 20px;
	border: 2px solid #3A79FF;
	background-color: transparent;
}


/* =============       Page de confirmation de l'inscription  ============ */

.pageInscriptionSuite {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}


input[type=string] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 50%;
	margin: 5%;
	font-size: medium;
}


.pageInscriptionSuite fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}

 input[type=date] {

	font-style: large;
	text-align: center;
	border: none;
	background-color: transparent;
	font-style: large;
	width: 50%;
	margin: 5%;
	font-size: medium;
	

}

select#pays{
	margin-bottom: 5%;
	font-size: medium;
}
.etoile {
	color: red;

}
.pageInscriptionSuite input[type=radio] {

	margin: 3%;
	

}

/*=========== Confirmation inscription ===============*/
.confirmationInscription {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;

}

.confirmationInscription h2 {
	margin: 10%;
}

.confirmationInscription p {
	text-align: center;
	margin: 10%;
}





/* ==============   FAQ =================*/


.headerFAQ {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.headerFAQ h1 {
	font-size: 50px;
	border-bottom: 5px solid black;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.faq {
	text-align: center;
}

.questionVisible {
	background-color: white;
	color: black;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-bottom: 10px;
	width: 90%;
	height: 10%;
	font-size: 25px;
}

.ReponseQuestion {
	margin: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .5s;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 90%;
	height: 90%;
}

.question:hover .ReponseQuestion {
	max-height: 17em;
}





/*=========== Nouveau mot de passe ===============*/

.nouveauMdp {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}

.nouveauMdp input[type=password] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 300px;
	margin: 30px;
}

label {
	display: block;
	font-weight: bold;

}

.nouveauMdp fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}



.enteteNouveauMdp {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	/* Pour mettre inscription et connextion sur la même ligne*/
	text-align: center;
	padding: 20px;
	background-color: #7CA0E4;
	display: inline-block;
	vertical-align: middle;

}

/*=========== Nouveau mot de passe confirmation ===============*/
.nouveauMdpc {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}



.nouveauMdpc fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}



.enteteNouveauMdpc {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	/* Pour mettre inscription et connextion sur la même ligne*/
	text-align: center;
	padding: 20px;
	background-color: #7CA0E4;
	display: inline-block;
	vertical-align: middle;
}

/*=========== Pilote modification mot de passe ===============*/

.piloteModiMdp {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}

.piloteModiMdp input[type=password] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 300px;
	margin: 30px;
}



.piloteModiMdp fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}



.piloteModiMdp {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	/* Pour mettre inscription et connextion sur la même ligne*/
	text-align: center;
	padding: 20px;
	background-color: #7CA0E4;
	display: inline-block;
	vertical-align: middle;

}

/*=========== Pilote modification mot de passe validée ===============*/
.piloteModiMdpv {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}



.piloteModiMdpv fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}



.piloteModiMdpv {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	/* Pour mettre inscription et connextion sur la même ligne*/
	text-align: center;
	padding: 20px;
	background-color: #7CA0E4;
	display: inline-block;
	vertical-align: middle;

}

/*=========== Pilote modification du profil ===============*/

.piloteModifMdpp {
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}



.piloteModifMdpp input[type=text] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 300px;
	margin: 15px;
	font-size: medium;
}

.piloteModifMdpp input[type=password] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 300px;
	margin: 15px;
	font-size: medium;
}

.piloteModifMdpp input[type=email] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 300px;
	margin: 15px;
	font-size: medium;
}

.piloteModifMdpp input[type=string] {
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 300px;
	margin: 15px;
	font-size: medium;
}

.piloteModifMdpp input[type=date] {
	text-align: center;
	border: none;
	background-color: transparent;

	width: 300px;
	margin: 15px;
	font-size: medium;
	
}
div.datetimebox{
	text-align: center;
}



.piloteModifMdpp fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}



.piloteModifMdpp {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	/* Pour mettre inscription et connextion sur la même ligne*/
	text-align: center;
	padding: 20px;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;

}

/*=========== admin compte perso ===============*/

.adminCp {
	background-color: transparent;
	border: 1px solid #000000;
	width: 50%;
	max-width: 50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;
}






.adminCp fieldset {
	padding: 1px;
	text-align: center;
	border: none;
}



.adminCp {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	/* Pour mettre inscription et connextion sur la même ligne*/
	text-align: center;
	padding: 20px;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;

}

.lien {
	background-color: transparent;
	text-align: center;
	margin: 20px;
	text-decoration: underline;
	font-family: Open Sans;
	font-style: normal;
	color: black;
	font-size: small;
}


/*==================    A propos ================= */

div.about p{
	text-align: justify;
}
.encadreProduit{
    width:70%;
    margin:auto;
    padding: 0 2% 1% 2%;
    border: 5px solid black;
    position:relative;
    margin-bottom: 1%;
}
div.encadreProduit img{
    box-shadow: 0 0 6px 0 white;
    width:40%;
}
div.produit {    
    width: 55%;
  /*height: 325px; */
  /*background-color: #7CA0E4; 
  margin: 4% 30% 5% 50%;*/
  padding: 2%;
  text-align: justify;
  display: inline-block;
      position: absolute;
    top: 20%;
}

div.imageProduit {
  margin : -31.8% 35% 10% 10%;
}

div.about h3 {
	text-align: center;
}

div.about {
  width: 50%;
  /*height: 500px;*/
  /*background-color: #7CA0E4;*/
  margin:auto;
    padding: 0 2% 1% 2%;
    border: 5px solid black;
    margin-bottom: 2%;
}

div.titreProduit {
  text-align: center;
  /*width: 15%;
  height: 25px;
  background-color: #7CA0E4;*/
  margin: auto;
  padding:auto;
}
@media only screen and (max-width: 770px) {
    div.about{
        width:100%;
        margin-left:0;
        margin-right:0;
        padding:0;
        border-right:none;
        border-left:none;
    }
    div.about>p{
        padding:1%;
    }
    
    div.encadreProduit{
        width:100%;
        padding:0;
        border-right:none;
        border-left:none;
    }
}
@media only screen and (max-width: 1380px) {
    div.produit{
        top:10%;
    }
    
}
@media only screen and (max-width: 1150px) {
    div.produit{
        padding-top:0;
    }
}
@media only screen and (max-width: 1090px) {
    
    div.produit{
        position:inherit;
    }
    
}
@media only screen and (max-width: 600px) {
    div.encadreProduit img{
        width: 70%;
        margin: auto;
        display: block;
    }
    div.produit{
        margin: auto;
        display: block;
    }
}
/*=============     Mon compte ================== */




.infoUtilisateur {
	background-color: transparent;
	border: 1px solid #000000;
	width: 40%;
	max-width: 50%;
	padding: 2%;

	margin: auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.moncompteblochaut {

	display: inline;
}

.resumeResultat {
	background-color: transparent;
	border: 1px solid #000000;
	width: 40%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.resumeResultat h1 {

	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/resultats.jpg");
	;
	opacity: 0, 2;
	/*background-repeat: no-repeat;*/
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	background-size: 100%;
	background-position-y: center;
}

.resumeResultat p {
	background-color: white;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	text-align: center;
	border: 1px solid #000000;


}

.resultatsParCat {
	background-color: transparent;
	border: 1px solid #000000;
	width: 40%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}

.resultatsParCat h1 {

	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/resultats.jpg");
	
	opacity: 0, 2;
	background-repeat: no-repeat;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	background-size: 100%;
	background-position-y: center;

}

.resultatsParCat p {

	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	text-align: center;
	border: 1px solid #000000;

}

#gestionDuStress h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/stress.jpg");
	;
	opacity: 0, 2;
	background-repeat: no-repeat;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	background-size: 100%;
	background-position-y: center;

}

#tempsDeReaction h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/tempsdereaction.jpg");
	;
	opacity: 0, 2;
	background-repeat: no-repeat;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

#seuilDePerception h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/perception.jpg");
	;
	opacity: 0, 2;
	background-repeat: no-repeat;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

#reconnaissanceDeTonalite h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/tonalite.jpg");
	;
	opacity: 0, 2;
	background-repeat: no-repeat;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

#resultatstestenligne {
	background-color: transparent;
	border: 1px solid #000000;
	width: 40%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
		border: 1px solid #000000;

}

#resultatenligne p {
	background-color: white;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	text-align: center;
	border: 1px solid #000000;

}

#resultatenligne h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%);
	opacity: 0, 2;
	background-repeat: no-repeat;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	background-size: 100%;
	background-position-y: center;
}

.testResults  {
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	text-align: center;
	border : solid;
	border : 1px solid black;
}

/* Pour tout les tests */
.GestionDuStress {
	background-color: transparent;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin: 5%;
	
}

.GestionDuStress h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/stress.jpg");
	;
	opacity: 0, 2;

	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

.GestionDuStress table {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}


.tempsDeReaction h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/tempsdereaction.jpg");
	;
	opacity: 0, 2;
	/*background-repeat: no-repeat;*/
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

.tempsDeReaction {
	background-color: transparent;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin: 5%;
}

.seuilDePerception h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/perception.jpg");
	;
	opacity: 0, 2;
	background-repeat: no-repeat;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

.seuilDePerception {
	background-color: transparent;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin: 5%;
}

.reconnaissanceDeTonalite h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/tonalite.jpg");
	;
	opacity: 0, 2;
	/*background-repeat: no-repeat;*/
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

.reconnaissanceDeTonalite {
	background-color: transparent;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin: 5%;
}

.RésultatsGlobaux {
	background-color: transparent;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin: 5%;
}

.RésultatsGlobaux h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%), url("Images/resultats.jpg");
	;
	opacity: 0, 2;
	/*background-repeat: no-repeat;*/
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	background-size: 100%;
	background-position-y: center;
}

.RésultatsGlobaux table {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}


.RésultatsEnLigne {
	background-color: transparent;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding: 1%;
	margin: 5%;
}

.RésultatsEnLigne h1 {
	background-image: linear-gradient(rgba(173, 132, 238, 0.75), rgba(173, 132, 238, 0.75) 80%);
	opacity: 0, 2;
	/*background-repeat: no-repeat;*/
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
}

.RésultatsEnLigne table {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}


/*=====================         Buttons de changement de page, ou submit pour fond bleu          =====================*/
.submitButtons {
	font-size: 20px;
	overflow: hidden;
	border: 3px solid #000000;
	color: #000000;
	background: none;
	cursor: pointer;
	padding: 1% 5%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	letter-spacing: 1px;
	font-weight: 700;
	transition: all 0.3s;
}

.submitButtons:hover {
	content: '';
	background: #D2E1FF;


}

.submitButtons:before {
	line-height: 1;
	position: relative;
}

.submitButtons:hover,
.submitButtons:active {
	font-size: 20px;
	color: #000000;
}

/*=====================         Buttons pour enregistrer des modifications          =====================*/

.editButtons {
	font-size: 14px;
	overflow: hidden;
	border: 3px solid #000000;
	color: #000000;
	background: none;
	cursor: pointer;

	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	margin-bottom: 7%;
	letter-spacing: 1px;
	font-weight: 400;
	transition: all 0.3s;
}



.editButtons:hover {
	content: '';
	background: #D2E1FF;


}

.editButtons:before {
	line-height: 1;
	position: relative;
}

.editButtons:hover,
.editButtons:active {
	font-size: 14px;
	color: #000000;
}




.tableau {
	background-color: transparent;

	width: 90%;
	text-align: center;
	padding: 1%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}

table a {
	text-decoration: underline;
	font-weight: normal;

}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 60%;

}

#search {
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;

	width: 70%;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
}

@media only screen and (max-width: 760px) {
	.tableau {
		width: 100%;


	}

	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	/* On cache l'affichage des entetes*/
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid black
	}

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 70%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 10%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Titre
	*/

	.td:nth-of-type(1):before {
		content: "Nom";
	}

	td:nth-of-type(2):before {
		content: "Prénom";
	}

	td:nth-of-type(3):before {
		content: "Date de  naissance";
	}

	.validerCompte td:nth-of-type(4):before {
		content: "Type";
	}

	.validerCompte td:nth-of-type(5):before {
		content: "Status";
	}

	.resultatsPilote td:nth-of-type(4):before {
		content: "Résultats";
	}



}

.gestionButtons{
	background: none;
	border: none;
	font-size: medium;

}
.gestionButtons:hover{
	border-bottom: 3px solid #3A79FF;
}

.formulaireRecherche{
	text-align: center;
}

.multiCritereRadio{

	text-align: center;


}
.multiCritereRadio label{

	display: inline;


}
.criteriaSearch{
	text-align: center;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	width: 50%;
	font-size: medium;
	margin: 0%;
	padding: 0%;
}

.criteriasButton{
	background: none;
	border:1px solid black;
	font-size: medium;

}

/*====================================================CGU==============================================================*/
/*
div.mentions {
	width: 90%;
  height: 230px; 
  background-color: #7CA0E4; 
  text-align: justify;
  margin: auto;
  padding: 1%;
}

div.preambule {
	width: 92%;
  height: 250px; 
  background-color: #7CA0E4; 
  text-align: justify;
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}

div.conditions {
	width: 60%;
  height: 30px; 
  background-color: #7CA0E4; 
  margin: auto;
  margin-top: 1%;
  text-align: center;
  padding: 1%;
}

div.article1 {
	width: 90%;
  height: 200px; 
  background-color: #7CA0E4; 
  text-align: justify; 
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}

div.article2 {
	width: 90%;
  height: 650px; 
  background-color: #7CA0E4; 
  text-align: justify; 
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}

div.article3 {
	width: 90%;
  height: 300px; 
  background-color: #7CA0E4; 
  text-align: justify; 
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}

div.article4 {
	width: 90%;
  height: 1400px; 
  background-color: #7CA0E4; 
  text-align: justify; 
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}

div.article5 {
	width: 90%;
  height: 900px; 
  background-color: #7CA0E4; 
  text-align: justify; 
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}

div.article6 {
	width: 90%;
  height: 150px; 
  background-color: #7CA0E4; 
  text-align: justify; 
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}

div.article7 {
	width: 90%;
  height: 300px; 
  background-color: #7CA0E4; 
  text-align: justify; 
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}

div.article8 {
	width: 90%;
  height: 80px; 
  background-color: #7CA0E4; 
  text-align: justify; 
  margin: auto;
  margin-top: 1%;
  padding: 1%;
}*/

.valid {
	color: green;
  }
  
  
.invalid {
color: red;
}


