/*=========     Mise en page commune du header    ======.*/

.logoPrincipal{
	display: flex;
	flex-direction: row; 
}


.logo
{
	width: 100px;
	height: 100px;
	margin: 10px 0 0 10px;
    display: flex;
    flex-direction: row;

	
}


#Titre{
    display: flex;
    font-family: Proza Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.03em;
    margin: 15px 0 0 10px;
    }


body
{
    font-family: Open Sans;
    background-image: radial-gradient(closest-side ellipse at center, white, rgb(248,248,243));
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    margin:0;

}


a {

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: x-large;
}

h4 {

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: large;
}

h5 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: small;

}

nav a:hover
{
    color: #3A79FF;
    border-bottom: 3px solid #3A79FF;
}



ul {
  list-style-type: none;
  float: right;
  line-height: 25px;
  overflow: hidden;
}

li {
  float: left;
}

li a {

  text-align: center;
  padding: 0px 10px;
}

/* =================   Header non connecté  ============== */


.headerNonConnecte
{

	display: flex;
	align-items: center;
	align-content: center;
	border-bottom: solid #3A79FF 1px;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.logoLangue .logo{
	height: 20px;
	width:32px;
	float: right;
	margin: 10px;
}

/* =================   Footer non connecté  ============== */



.footerNonConnecte
{
    display: flex;
    border-top: solid grey 1px;
}
.allPage{
    height:100vh;
    position:relative;
}
.footerBloque{
    width:100%;
    border-top: solid grey 1px;
    position:absolute;
    bottom:0;
}
.menuBas{
    padding-top:10px;
    width:99%;
}

@media only screen and (max-height: 700px) {
    .footerBloque {
        position:inherit;
        display: flex;
    }
    .allPage{
        height:auto;
    }
}
#connexion{
    display:inline;
    float: right;
}

div#connexion>a{
    color:#3A79FF;
    font-style: normal;
    background-color: #D2E1FF;
    text-align: center;
    right: 0px;
}
div.menuBas>a{
    margin : 0 20px;
    
}
div.menuBas>p{
    font-size: 10px;
    padding-left:0.5%;
}
div.menuBas>a#connexion{
    margin : 0 20px 0 70%;
    padding:0 10px 0 10px;
}
.photoAccueil{
    width:50%;
    float:right;
}
.menuInformations{
    
}
.section1{
    display:block;
}
.section2{
    text-align:center;
    background-image: url("images/fond2.jpg");
    color : white;
    background-size: 100% 100%;
    padding-top:7px;
}
.section2>h2{
    font-size:3rem;
    margin-top:0;
    text-decoration: underline;
}
.section3{
    padding: 5% 25%;
    background-image: url("Images/carreaux.png");
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 25%;
        
}
.section3>h2{
    text-align: center;
    text-decoration: underline;
    font-size:30px;
}
.sectionInformations{
    padding:0;
}
.sectionInformations>div>div>h3{
    margin-top:0;
}
.ligneInformation{
    display:block;
    margin: 5% 0;
}
.info1{
    float:left;
}
.info2{
    margin-left: 70%;
}
.ligneInformation>div{
    width:35%;
        
}
.partieMenu{
    width:20%;
    text-align: center;
    display:inline-block;;
    margin:auto;
}
.partieMenu>img{
    margin : auto;
}
.partieMenu>div{
    height:5rem;
}


/*La gestion de taille d'écran est renseignée ici */

/*  ==============      A REVOIR (MEDIA QUERIES) =============== */

/* min-width pour moyennes résolutions */
@media screen and (min-width: 1024px) {
	#main {
		width:70%;
		clear:none;
	}
	#aside {
		width:30%;
		clear:none;
	}
}

/* max-width pour faibles résolutions */
@media screen and (max-width: 600px) {
	header
	{
    display: flex;
   flex-wrap: wrap;
	}


	#menu a {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: flex-end;
		flex-direction: column;
		text-align: center;
		flex-wrap: wrap;

	}
	#menu li {
		text-align: center;
		float:none; 
		width:100%;
	}

}




/*Ici, les définitions propres à chaque page.*/
/* =============       Accueil     ============ */

.blocIntroAccueil {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  word-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
}


.blocConnexionAPPAccueil {
  display: flex;
  flex-direction: row;
  margin: 10px;

}


.colonne1Accueil {
  flex: 1 1;
  margin-right: 0px;
  margin-left: 1%;
  width: auto;
}


.colonne2Accueil {
  margin-left: 2%;
  width: 95%;
  margin-right: 0px;
}


.imageAccueil {
  max-width: 95%;
  width: auto;
}


.logoAPPAccueil {
  flex: 1 1;
  position: relative;
  right: 0;
}


.boutonConnexionAccueil {
  position: relative;
  left: 0;
  width: 50%;
  max-width:50%;
  background-color: rgba(41, 105, 151, 0.49);
  font-style: normal;
  text-align: center;
  
  font-size: 22px;
  line-height: 28px;
}


.nosServicesAccueil {
  text-align: center;
  
}


.actualitesAccueil {
  text-align: center;
  
  
}





/*===========    Centrer les blocs ================*/

.centrer_bloc{
	margin: 50%;
}




/* =============       Page d'inscription ============ */

.inscriptionP1 {
background-color: #7CA0E4;
border: 1px solid #000000;
width: 50%;
max-width:50%;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: auto;
}

.enteteInscription {
  padding-top: 10px;
  display: flex;
  flex-direction: row; /* Pour mettre inscription et connextion sur la même ligne*/
  text-align: center;
  width: 200px;
  padding: 20px;
  background-color: #7CA0E4;
  display: inline-block;
  vertical-align: middle ;
}


.inscriptionP1 input[type=text],input[type=password],input[type=email]{
	text-align: center;
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}

.enteteInscription:hover
{
    border-bottom: 3px solid #3A79FF;
}

.inscriptionP1 label{
	display: block;

}

.inscriptionP1 fieldset  {

      text-align: center;
      border: none;
}

.inscriptionP1 input[type=submit]{
	text-align: center;
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}
/* =============       Page de connexion ============ */

.Connexion {
background-color: #7CA0E4;
border: 1px solid #000000;
width: 50%;
max-width:50%;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: auto;
}

.Connexion a:hover{
	border-bottom: 3px solid #3A79FF;
	text-decoration: none;
}

.Connexion input[type=password],input[type=email]{
	text-align: center;
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}
#mdp{
	font-weight: normal;
	margin: 30px;
}

.Connexion label{
	display: block;

}

.Connexion fieldset  {
      padding: 1px;
      text-align: center;
      border: none;
}

.Connexion input[type=submit]{
	text-align: center;
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}
/* =============       Mot de passe oublié  ============ */

.motDePasseOublie {
background-color: #7CA0E4;
border: 1px solid #000000;
width: 50%;
max-width:50%;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: auto;
}


.motDePasseOublie input[type=email]{
	text-align: center;
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}

.motDePasseOublie label{
	display: block;
	font-weight: bold;

}

.motDePasseOublie fieldset  {
      padding: 1px;
      text-align: center;
	border :none;
}

.motDePasseOublie input[type=submit]{
	text-align: center;
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}

/* ==========  Page 404  ==========  */

.errror404 img {
    width: 500px;
    height: 300px;
}

.error404{

    display: flex;
    flex-direction: column;
    align-items: center;
}





/* ==========  Page contact  ==========  */



.formulaireContact{
	text-align: center;
}

.headerContact{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.headerContact h1{
	font-size: 50px;	
	border-bottom: 5px solid black;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.formulaireContact label{
	display: block;

}

/*Ici, la liste des input.*/




.formulaireContact input[type=text]{
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}


.formulaireContact input[type=password]{
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}



.formulaireContact input[type=email]{
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}

.formulaireContact input[type=submit]{
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: transparent;
}

.formulaireContact textarea{
	display: block;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border:none;
	box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25);
	
}




/*================      Page de contact confirmation   ===========*/
.confirmationContact{
	text-align: center;
	padding: 5% 0% 10% 0%;
}
.confirmationContact p{
	
	font-size: 35px;
	line-height: 61px;
	letter-spacing: 0.03em;
	color: #000000;
	text-align: center;
}
.confirmationContact a{

	text-align: center;
	border:1px solid #000000;

}

/* =============       Page de confirmation de l'inscription  ============ */

.pageInscriptionSuite {
background-color: #7CA0E4;
border: 1px solid #000000;
width: 50%;
max-width:50%;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: auto;
}


.pageInscriptionSuite input[type=text],input[type=string] {
	text-align: center;
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}

.pageInscriptionSuite label{
	display: block;
	font-weight: bold;

}

.pageInscriptionSuite fieldset  {
      padding: 1px;
      text-align: center;
	border :none;
}

.pageInscriptionSuite input[type=submit]{
	text-align: center;
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}

.pageInscriptionSuite input[type=date]{
    text-align: center;
	border:none;
	background-color: transparent;
	padding: 0 38%;
	width: 300px;
	margin: 30px;
	font-style: large;

}


.etoile {
	color: red;

}

/*=========== Confirmation inscription ===============*/
.confirmationInscription{
	background-color: #7CA0E4;
	border: 1px solid #000000;
	width: 50%;
	max-width:50%;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: auto;

}
.confirmationInscription h2{
	margin: 60px;
}
.confirmationInscription p{
	text-align: center;
	margin: 60px;
}

/*=========== Nouveau mot de passe ===============*/

.nouveauMdp{
background-color: #7CA0E4;
border: 1px solid #000000;
width: 50%;
max-width:50%;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: auto;
}

.nouveauMdp input[type=password]{
	text-align: center;
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}

.nouveauMdp label{
	display: block;
	font-weight: bold;

}

.nouveauMdp fieldset  {
      padding: 1px;
      text-align: center;
	  border :none;
}

.nouveauMdp input[type=submit]{
	text-align: center;
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}

.enteteNouveauMdp {
  padding-top: 10px;
  display: flex;
  flex-direction: row; /* Pour mettre inscription et connextion sur la même ligne*/
  text-align: center;
  padding: 20px;
  background-color: #7CA0E4;
  display: inline-block;
  vertical-align: middle ;

}



/* ==============   FAQ =================*/


.headerFAQ{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.headerFAQ h1{
	font-size: 50px;
	border-bottom: 5px solid black;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.faq{
	text-align: center;
}
.questionVisible {
	background-color: white;
	color: black;
	border: 2px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-bottom:10px;
	width: 90%;
	height: 90%;
	font-size: 25px;
}
.ReponseQuestion {
	margin: auto;
	max-height:0;
	overflow: hidden;
	transition: all .5s;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 90%;
	height: 90%;
}

.question:hover .ReponseQuestion {
	max-height: 17em;
}
i{
	float: right;
}
/*=========== Nouveau mot de passe confirmation ===============*/
.nouveauMdpc{
background-color: #7CA0E4;
border: 1px solid #000000;
width: 50%;
max-width:50%;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: auto;
}
.nouveauMdp label{
	display: block;
	font-weight: bold;

}

.nouveauMdpc fieldset  {
      padding: 1px;
      text-align: center;
	  border :none;
}

.nouveauMdpc input[type=submit]{
	text-align: center;
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}

.enteteNouveauMdpc {
  padding-top: 10px;
  display: flex;
  flex-direction: row; /* Pour mettre inscription et connextion sur la même ligne*/
  text-align: center;
  padding: 20px;
  background-color: #7CA0E4;
  display: inline-block;
  vertical-align: middle ;
}
/*=========== Pilote modification mot de passe ===============*/

.piloteModiMdp{
background-color: #7CA0E4;
border: 1px solid #000000;
width: 50%;
max-width:50%;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: auto;
}

.piloteModiMdp input[type=password]{
	text-align: center;
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}

.piloteModiMdp label{
	display: block;
	font-weight: bold;

}

.piloteModiMdp fieldset  {
      padding: 1px;
      text-align: center;
	  border :none;
}

.piloteModiMdp input[type=submit]{
	text-align: center;
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}

.piloteModiMdp {
  padding-top: 10px;
  display: flex;
  flex-direction: row; /* Pour mettre inscription et connextion sur la même ligne*/
  text-align: center;
  padding: 20px;
  background-color: #7CA0E4;
  display: inline-block;
  vertical-align: middle ;

}
/*=========== Pilote modification mot de passe validée ===============*/
.piloteModiMdpv{
background-color: #7CA0E4;
border: 1px solid #000000;
width: 50%;
max-width:50%;
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: auto;
}
.piloteModiMdpv label{
	display: block;
	font-weight: bold;

}

.piloteModiMdpv fieldset  {
      padding: 1px;
      text-align: center;
	  border :none;
}

.piloteModiMdpv input[type=submit]{
	text-align: center;
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}

.piloteModiMdpv {
  padding-top: 10px;
  display: flex;
  flex-direction: row; /* Pour mettre inscription et connextion sur la même ligne*/
  text-align: center;
  padding: 20px;
  background-color: #7CA0E4;
  display: inline-block;
  vertical-align: middle ;

}
