body
{
    font-family: Open Sans;
    background-image: radial-gradient(closest-side ellipse at center, white, rgb(248,248,243));
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;

}
a {

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

nav a:hover
{
    color: #3A79FF;
    border-bottom: 3px solid #3A79FF;
}

header
{

    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: solid #3A79FF 1px;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.logoPrincipal{
    display: flex;
    flex-direction: row; 
}

.logo
{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
    display: flex;
    flex-direction: row;

    
}

#Titre{
    display: flex;
    font-family: Proza Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.03em;
    margin: 15px 0 0 10px;
    }



ul {
  list-style-type: none;
  float: right;
  line-height: 25px;
  overflow: hidden;
}

li {
  float: left;
}

li a {

  text-align: center;
  padding: 0px 10px;
}


/* min-width pour moyennes résolutions */
@media screen and (min-width: 1024px) {
    #main {
        width:70%;
        clear:none;
    }
    #aside {
        width:30%;
        clear:none;
    }
}

/* max-width pour faibles résolutions */
@media screen and (max-width: 600px) {
    header
    {
    display: flex;
   flex-wrap: wrap;
    }


    #menu a {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;

    }
    #menu li {
        text-align: center;
        float:none; 
        width:100%;
    }

}

section{

    display: flex;
    flex-direction: column;
    align-items: center;
}

section img404{
    width: 500px;
    height: 300px;
}


footer
{
    display: flex;
    border-top: solid grey 1px;

}
#connexion{
    color:#3A79FF;
    font-style: normal;
    background-color: #D2E1FF;
    text-align: center;
}
