/*Ici, la mise en page principale, commune.*/

.logoPrincipal{
	display: flex;
	flex-direction: row; 
}


.logo
{
	width: 100px;
	height: 100px;
	margin: 10px 0 0 10px;
    display: flex;
    flex-direction: row;

	
}


#Titre{
    display: flex;
    font-family: Proza Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.03em;
    margin: 15px 0 0 10px;
    }




.contact{
	font-size: 50px;	
	text-align: center;
	border-bottom: 5px solid black;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}




body
{
    font-family: Open Sans;
    background-image: radial-gradient(closest-side ellipse at center, white, rgb(248,248,243));
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;

}


a {

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	color: black;
	text-decoration: none;
}


nav a:hover
{
    color: #3A79FF;
    border-bottom: 3px solid #3A79FF;
}



label{
	display: block;

}



ul {
  list-style-type: none;
  float: right;
  line-height: 25px;
  overflow: hidden;
}

li {
  float: left;
}

li a {

  text-align: center;
  padding: 0px 10px;
}






.footerNonConnecte
{
    display: flex;
    border-top: solid grey 1px;

}

 
    
    
#inscription {
  background-color: #7CA0E4;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }


#connexion{
    color:#3A79FF;
    font-style: normal;
    background-color: #D2E1FF;
    text-align: center;
}







/*La gestion de taille d'écran est renseignée ici */



/* min-width pour moyennes résolutions */
@media screen and (min-width: 1024px) {
	#main {
		width:70%;
		clear:none;
	}
	#aside {
		width:30%;
		clear:none;
	}
}

/* max-width pour faibles résolutions */
@media screen and (max-width: 600px) {
	header
	{
    display: flex;
   flex-wrap: wrap;
	}


	#menu a {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: flex-end;
		flex-direction: column;
		text-align: center;
		flex-wrap: wrap;

	}
	#menu li {
		text-align: center;
		float:none; 
		width:100%;
	}

}





/*Ici, la liste des input.*/




input[type=text]{
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}


input[type=password]{
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}



input[type=email]{
	border:none;
	background-color: transparent;
	border-bottom:  1px solid black;
	width: 300px;
	margin: 30px;
}



















/*Ici, les définitions propres à chaque page.*/



section{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.404 {
    width: 500px;
    height: 300px;
}




fieldsetInscription {
      padding: 20px;
}





.enteteInscription {
  width: 100px;
  padding: 10px;
  background-color: rgba(111,41,97,.3);
  border: 2px solid rgba(111,41,97,.5);
  display: inline-block;
  vertical-align: middle
}




.headerNonConnecte
{

	display: flex;
	align-items: center;
	align-content: center;
	border-bottom: solid #3A79FF 1px;
    justify-content: space-between;
    flex-wrap: wrap;
   
}





.textareaContact{
	display: block;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	border:none;
	box-shadow :0px 4px 4px rgba(0, 0, 0, 0.25);
}




.submitTransparent{
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: transparent;
}


.submitD2E1FF{
	margin: 20px;
	font-size: 20px;
	border:2px solid #000000;
	background-color: #D2E1FF;
}





















    













/*Les ?????????? sont rensignées ici */


div.formulaireContact{
	text-align: center;
}

div.headerContact{
	text-align: center;
	font-size: 30px;
	border-bottom:  5px solid black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
























